<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cxp.shop_store.mapper.StoreMapper">


<!--    用户开通店铺功能-->
    <insert id="addStoreIdByUserId">
        insert store(user_id,store_name,city_code)
            values(#{userId}, #{storeName}, #{cityCode});
    </insert>

    <select id="mapStoreBaseByStoreId" resultType="com.cxp.shop_api.entity.StoreBase">
        select store_id,store_name,city_code
        from store
        where store_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>


    <select id="selStoreBaseMapByStoreName" resultType="com.cxp.shop_api.entity.StoreBase">
        select store_id,store_name,city_code
        from store
        <bind name="searchWord" value="'%'+searchWord+'%'"/>
        where store_name like #{searchWord}
    </select>


    <select id="listStoreNameByStoreId" resultType="com.cxp.shop_store.pojo.StoreIdStoreName">
        select store_id,store_name
        from store
        where store_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="listUserIdByStoreId" resultType="com.cxp.shop_store.pojo.StoreIdUserId">
        select store_id,user_id
        from store
        where store_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>